.episodes_page {
	margin: 35px 0;
}

.tr_hover {
	&:hover {
		background: #d66b1e;
		transition: 0.5s all;

		td {
			color: #fff;
			transition: 0.5s all;

			&:last-child {
				transition: 0.5s all;
				transform: scale(1.1);
			}
		}
	}
}
