.form_wraper {
	form {
		margin-bottom: 45px;
		display: flex;
		align-items: center;
	}
	.save_icon {
		font-size: 1.3em !important;
	}

	.MuiFormControl-root {
		margin-right: 25px !important;
	}

	.MuiInputBase-input {
		min-width: 250px !important;
	}
}
