.name_filter_container {
	width: 100%;
	margin: 20px 0;
	display: flex;
	align-items: center;
	justify-content: center;

	#episodes_filter {
		height: 40px;
		max-width: 400px;
		width: 100%;
		border-radius: 5px;
		border: none;
		padding: 5px;
		font-size: 16px;
		letter-spacing: 1px;
	}
}
