.watch_item {
	min-width: 250px;
	min-height: 50px;
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 5px 10px;
	margin-bottom: 15px;
	&:last-child {
		margin-bottom: 0px;
	}

	.delete_button {
		line-height: 1 !important;
		min-width: 36px !important;
	}
	.watch_text {
		max-width: 230px;
		text-align: start;
		font-size: 18px;
		@media (max-width: 768px) {
			font-size: 16px;
		}
	}
}
